<script>
function addTPL_MODULE() {

	var frm = document.frmTPL_MODULE;
	 <!-- BEGIN DYNAMIC BLOCK: javascriptvalidation -->
	frm.TPL_PREFIXTPL_MODULE_TPL_FEILDS.value = trim(frm.TPL_PREFIXTPL_MODULE_TPL_FEILDS.value);
	removeSpaceBetweenWords(frm.TPL_PREFIXTPL_MODULE_TPL_FEILDS,frm.TPL_PREFIXTPL_MODULE_TPL_FEILDS.value);
	if (frm.TPL_PREFIXTPL_MODULE_TPL_FEILDS.value == "" || frm.TPL_PREFIXTPL_MODULE_TPL_FEILDS.value=="''" || frm.TPL_PREFIXTPL_MODULE_TPL_FEILDS.value=="' '") {
		alert("Specify TPL_FIELD_NAME");
		frm.TPL_PREFIXTPL_MODULE_TPL_FEILDS.value="";
		frm.TPL_PREFIXTPL_MODULE_TPL_FEILDS.focus();
		return false;
	}
	 <!-- END DYNAMIC BLOCK: javascriptvalidation -->
	
	frm.TPL_PREFIXTPL_MODULE_action.value = "SAVE";		
	return true;
}

function Cancel(){
document.location.href="<?=stripslashes($TPL_PREFIXTPL_MODULE->returnUrl)?>";
}

</script>
<form action="" method="post" enctype="multipart/form-data" name="frmTPL_MODULE" onSubmit="return addTPL_MODULE();">
<input type="hidden" name="TPL_PREFIXTPL_MODULE_returnUrl" value="<?=$TPL_PREFIXTPL_MODULE->returnUrl?>">
<input type="hidden" name="TPL_PREFIXTPL_MODULE_action" value="">
<input type="hidden" name="TPL_PREFIXTPL_MODULE_TPL_PRIMARYKEY" value="<?=$TPL_PREFIXTPL_MODULE->TPL_PRIMARYKEY?>">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="h1"><?php if ($TPL_PREFIXTPL_MODULE->TPL_PRIMARYKEY) { ?> Edit TPL_MODULE
<?php } else { ?>
				Add TPL_MODULE
<?php } ?> </td>
</tr>
  <tr>
	<td valign="top">
	<!--DETAILS LEFT start-->
	<!--DETAILS LEFT close--></td>
  </tr>
   <tr>
	<td valign="top">
	<?=displayMessage();?></td>
  </tr>
  
  <tr>
	<td align="center"><table width="95%" border="0" align="center" cellpadding="2" cellspacing="0">
<tr>
     <td  align="left" colspan="2">&nbsp;</td>
  </tr>
  <!-- BEGIN DYNAMIC BLOCK: inputfeilds -->
<tr>
    <td width="20%" class="required">TPL_FIELD_NAME&nbsp;</td>
    <td width="80%" align="left">TPL_FIELD_INPUT&nbsp;</td>
  </tr>
   <!-- END DYNAMIC BLOCK: inputfeilds -->
  <tr>
    <td align="right" class="content">&nbsp;</td>
    <td align="left"><input type="submit" name="Submit" value="Submit">
        <input type="reset" name="btnReset" value="Reset">
        <input type="button" name="btnCancel" value="Cancel" onClick="Cancel();"></td>
  </tr>
    </table></td>
	</tr>
</table>
</form>
